.container {
    border: 5px solid #ffcc5c;
    display: flex;  
}
  
.search {
    flex: 1; 
}

@media all and (max-width: 600px){
    .container{
        flex-wrap: wrap;
    }

    .container > li {
        flex: 1 1 50%;
    }
      
    .search > input {
        text-align: center;
    }
}
  

@media all and (max-width: 400px) {
    .container > li {
      flex: 1 1 100%;
    }
    .search {
      order: 1;
    }
  }
  
/*search is given flex, as we want to make search responsive  */
/* By default order set to 0 to all items, if any item > 0 , will go to the after all the items */

/* @media all is used for responsiveness due to change in screen width  */