.container {
    display: grid;            
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 50px;
}

/* USING REPEAT AND FR */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 3px;
}

/* SHORTCUT */
.container {
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
}